---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";

const allActors = await getCollection('threat-actors');
const countries = [...new Set(allActors.map((actor: any) => actor.data.countries).flat())];
countries.sort();

const title = "Countries Where Threat Actors Are Located";
const description = "";
---

<BaseLayout title={title + " | Malware Notes"} description={description}>
    <main class="my-6 md:mx-auto w-full md:w-2/3 p-2 flex flex-col gap-y-8">
        <h1 class="text-4xl text-center">{title}</h1>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
            {countries.map((country: string) => (
                country ? (
                    <a
                        href={`/threat-actors/countries/${country}`}
                        class="bg-slate-800 hover:bg-slate-700 px-2 py-4 text-white"
                    >
                        {country}
                    </a>
                ) : null
            ))}
        </div>
    </main>
</BaseLayout>