---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "404 | Malware Notes";
const description = "Page Not Found";
---

<BaseLayout title={title} description={description}>
	<main class="my-6 mx-auto w-full md:w-2/3 lg:w-1/2 px-1 flex flex-col items-center gap-y-8">
        <h1>Page Not Found</h1>
	</main>
</BaseLayout>
