---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "About | Malware Notes";
const description = "About the Malware Notes.";
---

<BaseLayout title={title} description={description}>
	<main>
        <h1>About</h1>
	</main>
</BaseLayout>
