---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Malware Notes";
const description = "Sticky notes for malware analysis, research, and techniques.";
---

<BaseLayout title={title} description={description}>
	<main class="flex flex-col items-center justify-center">		
		<!-- Something here... -->

		<div class="">
			<p class="text-2xl">{description}</p>
			<p class="text-2xl">Malware data collections from open-source resources and analysis.</p>
			<div class="my-8 flex items-center justify-center gap-x-4">
				<a
					href="/malware-families"
					class="
						bg-red-600 p-2 text-lg text-white font-bold
						hover:brightness-125
					"
				>
					Malware Families
				</a>
				<a
					href="/threat-actors"
					class="
						bg-red-600 p-2 text-lg text-white font-bold
						hover:brightness-125
					"
				>
					Threat Actors
				</a>
			</div>
		</div>
	</main>
</BaseLayout>
