---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Malware Notes";
const description = "Sticky notes for malware analysis, research, and techniques.";
---

<BaseLayout title={title} description={description}>
	<main>		
		<!-- Something here... -->

		<p>{description}</p>
	</main>
</BaseLayout>
