---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';

const title = "Malware Notes";
const description = "Sticky notes for malware analysis, research, and techniques.";
---

<BaseLayout title={title} description={description}>
	<main>

		<Greeting client:load messages={["Hej", "Hello", "Hola", "Habari"]} />
		
		<!-- Something here... -->

		<p>{description}</p>
	</main>
</BaseLayout>
