---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SideLinks from "../../components/SideLinks.astro";

const title = "Techniques | Malware Notes";
const description = "This is the top page for techniques.";
---

<BaseLayout title={title} description={description}>
    <div class="mx-auto w-full md:w-2/3 md:grid md:grid-cols-[200px_1fr]">
        <SideLinks category="techniques" currentItem="" />
        <main class="px-2 md:px-8 flex flex-col">
            <h1 class="text-6xl font-bold">Techniques</h1>
        </main>
    </div>
</BaseLayout>
