---
---

<footer
    class="
        mt-12 bg-red-600 p-24
        flex flex-col md:flex-row items-center md:items-start md:justify-around gap-y-8 md:gap-y-0
    "
>
    <div>
        <span class="bg-dark p-2 text-sm font-bold">Malware Notes</span>
    </div>
    <div class="flex items-center gap-x-4">
        <a
            href="https://github.com/hideckies/malware-notes"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="/img/socials/github.png" alt="github" class="w-6" />
        </a>
        <a
            href="https://x.com/hideckies"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="/img/socials/x.png" alt="x" class="w-5" />
        </a>
    </div>
</footer>