---
---

<div class="hamburger md:hidden p-r-4 cursor-pointer">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style is:inline>
    .line {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background-color: var(--color-white);
    }
</style>