---
import { getCollection } from "astro:content";
import Navigation from "./Navigation.astro";
import IconAbout from "./IconAbout";
import Search from "./Search";

const malwareFamiliesCollection = await getCollection("malware-families");
const threatActorsCollection = await getCollection("threat-actors");
---

<header
    class="
        sticky top-0 left-0 z-50 p-2 md:p-6
        flex flex-col md:flex-row items-center justify-around
        gap-y-3 md:gap-y-0 backdrop-blur-sm
    "
>
    <a href="/">
        <img src="/img/icon.png" alt="icon" class="w-11" />
    </a>
    <div class="w-full md:flex-1 flex items-center md:justify-end gap-x-4">
        <Navigation />
        <Search
            client:load
            itemsMalwareFamilies={malwareFamiliesCollection}
            itemsThreatActors={threatActorsCollection}
        />
    </div>

    <!-- Icons for mobile -->
    <div class="absolute top-3 right-5 md:hidden">
        <IconAbout />
    </div>
    <!-- /Icons for mobile -->

</header>
