---
import { getCollection } from "astro:content";
import Navigation from "./Navigation.astro";
import Search from "./Search";

const malwareFamilies = await getCollection("malware-families");
const techniques = await getCollection('techniques');
const threatActors = await getCollection("threat-actors");
---

<header
    class="
        sticky top-0 left-0 z-50 p-2 md:p-6
        flex flex-col md:flex-row items-center justify-around
        gap-y-3 md:gap-y-0 backdrop-blur-sm
    "
>
    <div class="w-full flex">
        <a href="/" id="spider" class="z-10 relative flex flex-col items-center">
            <div
                id="spider-string"
                class="absolute top-0 left-1/2 -translate-x-1/2 bg-[rgba(255,255,255,0.5)] w-px"
            ></div>
            <img src="/img/icon.png" alt="icon" id="spider-body" class="w-8 md:w-9" />
        </a>
    </div>
    <div class="w-full md:flex-1 flex items-center md:justify-end gap-x-4">
        <div class="hidden md:block">
            <Navigation />
        </div>
        <Search
            client:load
            itemsMalwareFamilies={malwareFamilies}
            itemsTechniques={techniques}
            itemsThreatActors={threatActors}
        />
    </div>

    <!-- Icons for mobile -->
    <div class="absolute top-3 right-5 md:hidden flex items-center gap-x-2">
        <Navigation />
    </div>
    <!-- /Icons for mobile -->

</header>

<style is:inline>
    #spider #spider-string {
        transition: 3s;
        height: 0px;
    }
    #spider:hover #spider-string {
        transition: 2s;
        height: 100px;
    }

    #spider #spider-body {
        transition: 3s;
        transform: translateY(0px);
    }
    #spider:hover #spider-body {
        transition: 2s;
        transform: translateY(100px);
    }
</style>
