---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 left-0 p-6 flex items-center justify-center md:justify-between">
    <a href="/" class="bg-red-600 p-2 text-white font-bold">
        Malware Notes
    </a>
    <Navigation />
</header>