---
import IconAbout from "./IconAbout";
import IconActors from "./IconActors";
import IconMalwares from "./IconMalware";
---

<nav class="flex items-center gap-x-2">
    <a href="/malware-families" title="Malware Families">
        <IconMalwares color="var(--color-red)" size="1.5" className="" />
    </a>
    <a href="/threat-actors" title="Threat Actors">
        <IconActors color="var(--color-red)" size="1.5" className="" />
    </a>
    <a href="/about" title="About">
        <IconAbout color="var(--color-gray-light)" size="1.5" className="" />
    </a>
</nav>