---
---

<nav class="hidden md:flex gap-x-4 text-sm">
    <a href="/about" class="hover:underline">About</a>
    <a href="/malware-families" class="hover:underline">Malware Families</a>
    <a href="/threat-actors" class="hover:underline">Threat Actors</a>
</nav>