---
import IconAbout from "./IconAbout";
import IconActor from "./IconActor";
import IconMalware from "./IconMalware";
import IconTechnique from "./IconTechnique";
---

<nav class="flex items-center gap-x-2">
    <a href="/malware-families" title="Malware Families">
        <IconMalware color="var(--color-red)" size="1.5" className="" />
    </a>
    <a href="/threat-actors" title="Threat Actors">
        <IconActor color="var(--color-red)" size="1.6" className="" />
    </a>
    <a href="/techniques" title="Techniques">
        <IconTechnique color="var(--color-yellow)" size="1.4" className="" />
    </a>
    <a href="/about" title="About">
        <IconAbout color="var(--color-gray-light)" size="1.5" className="" />
    </a>
</nav>