---
---

<nav class="hidden md:flex gap-x-4 text-sm">
    <a href="/malware-families" class="text-slate-300 hover:text-white">Malware Families</a>
    <a href="/threat-actors" class="text-slate-300 hover:text-white">Threat Actors</a>
    <a href="/techniques" class="text-slate-300 hover:text-white">Techniques</a>
</nav>