---
import { getCollection } from "astro:content";
const { category, currentTitle } = Astro.props;

const items = await getCollection(category);
---

<div class="sidelinks h-[90vh] w-[200px] relative hidden md:block">
    <div class="sidelinks_wrapper sticky top-0 left-0 flex flex-col h-full w-full overflow-y-auto">
        {items.map((item: any) => (
            <a
                href={`/${category}/${item.slug}/`}
                class={`
                    p-1 text-slate-400 hover:text-white
                    ${item.data.title === currentTitle ? 'bg-dark-light-super text-slate-200' : ''}
                `}
            >
                {item.data.title}
            </a>
        ))}
    </div>
</div>

