---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";

const allTechniques = await getCollection('techniques');
const types = [...new Set(allTechniques.map((tech: any) => tech.data.type).flat())];
types.sort();

const title = "Platforms Targeted By Techniques";
const description = "";
---

<BaseLayout title={title + " | Malware Notes"} description={description}>
    <main class="my-6 md:mx-auto w-full md:w-2/3 p-2 flex flex-col gap-y-8">
        <h1 class="text-4xl text-center">{title}</h1>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
            {types.map((t: string) => (
                t ? (
                    <a
                        href={`/techniques/types/${t}`}
                        class="bg-slate-800 hover:bg-slate-700 px-2 py-4 text-white"
                    >
                        {t}
                    </a>
                ) : null
            ))}
        </div>
    </main>
</BaseLayout>
